#!/bin/sh
#{{ ansible_managed }}
unset SESSION_MANAGER

unset DBUS_SESSION_BUS_ADDRESS

#exec /etc/X11/xinit/xinitrc
export LANG=pl_PL.UTF-8
export LC_ALL=pl_PL.UTF-8

xsetroot -solid grey
vncconfig -nowin &
gnome-panel &
gnome-settings-daemon &
metacity &
nautilus -n &

gnome-terminal &

[ -x /etc/vnc/xstartup ] && exec /etc/vnc/xstartup

[ -r $HOME/.Xresources ] && xrdb $HOME/.Xresources


# gnome-session --session=gnome-classic --disable-acceleration-check &

#export DESKTOP_SESSION="gnome-fallback"
#export XDG_MENU_PREFIX="gnome-flashback-"
#export XDG_CURRENT_DESKTOP="Unity"

#gnome-session --disable-acceleration-check --session=gnome-flashback &

